<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Services Page</h1>
    <!-- <div class="host-tag" th:insert="~{base :: parent(~{::section})}">
        <section> this is dynamic content </section>
      </div> -->
     <div th:insert="~{base :: parent(~{::section})}">
        <!-- we can use a tag directly by using # after :: -->
        <!-- we can similaly use ::.className  -->
        <!-- we can target using selectors -->
        <section>
            This is dynamic content passed to parent in services page
        </section>
     </div>
</body>
</html>